@import url(reset.css);

/* Importação da fonte logo do projeto */
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

/* Importação da fonte geral */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Jost';
    background-color: #FDFFFC;
}

.container{
    margin: 0;
    padding: 0;
    min-width: 1vh;

    display: flex;
    flex-direction: column;
}

header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0.1rem  15px rgba(0, 0, 0, 0.1);
}

#section-image-header{
    min-width: 180px;
    margin-right: 20px;
}

.section-container-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    gap: 50px;
    align-items: center;

}
.anchor-header{
    text-decoration: none;
    color: #06070E;
}
.section-header{

    font-family: 'jost';
    font-weight: 500;
}

#input-header{
    width: 150px;
    display: flex;
    align-self: center;
}

#sing-up-header{
    color: #FDFFFC;
    text-decoration: none;
    font-family: 'jost';
    font-weight: 500;

    padding: 10px;
    background: linear-gradient(123deg,rgba(92, 246, 74, 1) 38%, rgba(56, 221, 73, 1) 77%);
    border-radius: 8px;

    box-shadow: 0 0.1rem  15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#sing-up-header:hover{
    transform: scale(1.05);
}

/* header style end */

main{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #FDFFFC;
}
/* Divisão inicial adicionado! */
.initial-main{
    margin: 0 auto;
    width: 1000px;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.description-initial-main{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-initial-main{
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 10px;
}

.name-project{
    font-family: 'Special Gothic Expanded One';
    font-weight: 500;
    background: #5CF64A;
    background: linear-gradient(to right, #5CF64A 0%, #38DD49 46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: #06070E;
}
#description-initial-main{
    margin-top: 20px;
    margin-bottom: 50px;
}


#btn-get-started, #see-more-link{
    color: #FDFFFC;
    text-decoration: none;
    font-family: 'jost';
    font-weight: 500;

    padding: 8px;
    background: linear-gradient(347deg,rgba(92, 246, 74, 1) 38%, rgba(56, 221, 73, 1) 64%);
    border-radius: 8px;

    box-shadow: 0 0.1rem  15px rgba(0, 0, 0, 0.1);
    
    transition: transform 0.3s ease;
}

#btn-get-started:hover, #see-more-link:hover{
    transform: scale(1.05);
}

#image-initial-main{
    height: 100px;
}

/* Fim divisão inicial */

/* Começo divisão de serviços */
.services-main{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.15);
    background-color: #FFF;
}

#our-services-subtitle{
    margin: 10px 0 20px 0;
    font-weight: 600;
    font-size: 25px;
}

.card-service{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card-services-main{
    width: 200px;
    padding: 20px;
    box-shadow: 0 0.1rem  15px rgba(0, 0, 0, 0.1);
    background-color: #FDFFFC;
    border-radius: 10px;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
}

.image-services-main{
    padding: 10px;
    margin-bottom: 10px;
    border: #38DD49 3px solid;
    border-radius: 50%;
    width: 50px;

    box-shadow: 0 0.1rem  15px rgba(0, 0, 0, 0.1);
    
}

.card-services-main:hover{
    transform: scale(1.05);
}

.name-service{
    font-weight: 600;
    font-size: 18px;

    background: #5CF64A;
    background: linear-gradient(to right, #5CF64A 0%, #38DD49 46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 20px;
}

/* Fim da divisão de serviçoes */
.about-us-main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    padding: 20px 0;
}
.description-about-us-main-container{
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.description-about-main{
   width: 500px;
   height: 100%;
   display: flex;
   flex-direction: column;
}


.image-about-us-main{
    display: flex;
    align-items: center;
    margin-right: 30px;
    align-self: top;
}

#image{
    width: 500px;
    align-self: center;
}
.element-about-us-main{
    width: 100px;
    height: 5px;
    background: #5CF64A;
    background: linear-gradient(123deg, rgba(92, 246, 74, 1) 38%, rgba(56, 221, 73, 1) 77%);
    margin: 15px 0;
    
    margin-top: 35px;
    border-radius: 4px;
}

#about-us-subtitle{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}

.description-about-us-main-container-left{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}



.description-about-us-main-left{
    width: 800px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.description-about-us-main-left{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#about-us-subtitle-final{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

#description-paragraph-final{
    text-align: center;
}

.final-element
{  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


/* Fim sobre nós */
/* Inicio Parceiros */
footer{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.subtitle-footer{
    width: 1000px;
    margin: 0 auto;
}
#uor-copartner-subtitle{
    margin: 30px 0 10px 0;
    font-weight: 600;
    font-size: 28px;
}

.copartners-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    margin-bottom: 40px;

    background-color: #FFF;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.15);
}

.image-section-copartner{
    margin: 20px 0;
    height: 60px;

    transition: transform 0.3s ease;
}

.image-section-copartner:hover{
    transform: scale(1.05);
}

/* Fim parceiros */
